@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    display: flex;
    padding: 1em;
    min-height: 100vh;
}

nav {
    justify-content: center;
}

nav ul{
    justify-content: space-between;
    width: 100%;
    max-width: 512px;
    font-size: 36px;
    padding: 0;
    margin-top: -1em;
}

h1,a{
    font-family: 'Harry P';
}

h1{
    font-size: 72px;
    letter-spacing: 0.15ch;
    margin-bottom: 0;
    text-align: center;
}

#root{
    width: 100vw;
}

.character{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    align-items: center;
    color:white;
    font-family: 'Satisfy', cursive;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 2px 2px 4px var(--primary);
    transition: 300ms;
}

.character:hover{
    box-shadow: 4px 4px 8px var(--primary);
}

.character img{
    height: 100%;
    object-fit: cover;
}

.character b {
    margin-top: -2.75em;
    background: #00000070;
    width: 100%;
}

.character small{
    background: #00000070;
    width: 100%;
}

section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2em;
}